#no-mobile {
  position: absolute;
  bottom: 0;
  z-index: 123;
  height: 100vh;
  background-color: #fee500;
  width: 100vw;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #no-mobile {
    display: none;
  }
} ;
