.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 14px;
}

.fas.fa-wifi {
  margin-left: 5px;
}

.status-bar__column > .status-bar__time {
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.fas.fa-battery-half {
  padding: 0px 2px;
}
